@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body{
  font-family: 'Poppins', sans-serif;
  height: 200px;
  font-size: 1.4rem;
  width: 484px;
  color: aliceblue;
}
.modal{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: rgb(39, 60, 78);
}
.joke{
  margin-bottom: 1.5rem;
  height: 170px;
}
button{
  width: 8rem;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  cursor: pointer;
  background-color: rgb(35, 216, 192);
}
.button-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

